endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

### Endpoints Privacy ###
sv_endpointPrivacy true

sv_hostname "ESXm-Legacy"
set steam_webApiKey "FFEF6AA957A5184733BA7BFDC409DAD0"
sv_licenseKey "cfxk_OkGN4I8sh3BYgCjCe9YN_1ijssC"
sv_maxclients 8

sets sv_projectName "ESXm-Legacy"
sets sv_projectDesc ""
sets locale "en-US"
setr ox:locale en
sets tags "ESXm-Legacy"
sv_scriptHookAllowed 0
set sv_enforceGameBuild 2802

## [txAdmin CFG validator]: onesync MUST only be set in the txAdmin settings page.
# set onesync on
set mysql_connection_string "mysql://root@localhost/tx-legacy-v2?waitForConnections=true&charset=utf8mb4"
set mysql_ui true



## - These resources will start by default..
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure hardcap
ensure bob74_ipl
exec permissions.cfg

## Add system admins
add_ace group.admin command allow
add_ace group.admin command.quit deny
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow
add_ace resource.ox_lib command.add_ace allow
add_ace resource.ox_lib command.remove_ace allow
add_ace resource.ox_lib command.add_principal allow
add_ace resource.ox_lib command.remove_principal allow
add_principal identifier.steam:11000010a20b150 group.admin #HunterX75



## - Default & Standalone resources
ensure oxmysql
ensure es_extended
ensure ox_lib
ensure ox_target
ensure ox_inventory
ensure fivem-appearance
ensure ox_doorlock
ensure ox_fuel
ensure ox_sit
ensure PolyZone
ensure ox_menuf5
ensure vMenu


## [2.Base]
ensure [2.Base]


## [3.Esx]
ensure [3.Esx]

## [4.Script]
ensure SL-Identity
ensure SL-Loading
ensure SL-Modules
ensure lunar_jobcentre
ensure gflp10-carkeys
ensure banking
ensure bobi-selldrugs
ensure Buty-CarWash
ensure YveltAdmin

# Jobs
ensure esx_vehicleshop
ensure esx_ambulancejob



